<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1005661177173-apfpvk66hsq8i62i61fs0t8fqht3qnbh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1005661177173-apfpvk66hsq8i62i61fs0t8fqht3qnbh</string>
	<key>API_KEY</key>
	<string>AIzaSyBERZpgAi4jDJYnpNOo7Fn3ra8bxNwm-Yk</string>
	<key>GCM_SENDER_ID</key>
	<string>1005661177173</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hanyang.ac.kr.Talk-Messanger</string>
	<key>PROJECT_ID</key>
	<string>talk-messanger</string>
	<key>STORAGE_BUCKET</key>
	<string>talk-messanger.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1005661177173:ios:223016a6f107829eff9bdc</string>
</dict>
</plist>